# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# IDE
.vscode/

# Logs
*.log

# Environment variables
.env

# Large/generated model files
models/*.pkl
models/*.joblib

# Temporary files
*.tmp
